on:
  schedule:
    # runs every day at 7:00 AM UTC
    - cron:  '0 7 * * *'
  workflow_dispatch:

name: update-officials

jobs:
  update-officials:
    name: update-officials
    runs-on: MacOS-latest
    env:
      GITHUB_PAT: ${{ secrets.NFLVERSE_GH_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            nflverse/nflreadr
            nflverse/nflverse-data
            nflverse/ngsscrapR

      - name: Update officials
        run: Rscript -e 'source("src/update_officials.R")'
